<div class="card" id="mobile-card">
  <div class="card-header card-header-icon card-header-rose">
    <div class="card-icon">
      <i class="material-icons">reply</i>
    </div>
    <h4 class="card-title">ข้อความตอบกลับ</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="replyForm" novalidate="novalidate" id="pc-botton">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <div class="example-container">
              <mat-form-field>
                <textarea matInput placeholder="ข้อความ" type="text" formControlName="messageReply" required="false"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="menu-footer">
      <ul class="nav nav-pills nav-pills-warning" role="tablist">
        <li id="mobile-botton">
          <a data-toggle="tab" href="#none" role="tablist" style="color:black;">
            <form [formGroup]="replyForm" novalidate="novalidate" class="from-botton">
              <div class="col-lg-12">
                <mat-form-field>
                  <textarea matInput placeholder="ข้อความ" type="text" formControlName="messageReply" required="false"></textarea>
                </mat-form-field>
              </div>
            </form>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#video" role="tablist" id="pc-botton">
            บันทึกวีดิโอ
          </a>
          <button mat-raised-button data-toggle="tab" href="#video" role="tablist" id="mobile-botton">
            <i class="material-icons" style="font-size: 30px;" >video_call</i>
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#file" role="tablist" id="pc-botton">
            อัพโหลดไฟล์
          </a>
          <button mat-raised-button data-toggle="tab" href="#file" role="tablist" id="mobile-botton">
            <i class="material-icons">add_photo_alternate</i>
          </button>
        </li>
      </ul>
    </div>

    <div class="row-button-footer">
      <i *ngIf="progress==100" class="glyphicon glyphicon-ok"></i>
      <button type="button" class="btn btn-success btn-s" (click)="replyMessage()" (click)="showSwal('success-message')">
        <span class="glyphicon glyphicon-upload"></span> ตอบกลับ
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="cancelBooking()">
        <span class="glyphicon glyphicon-ban-circle"></span> ยกเลิก
      </button>
    </div>

    <div class="tab-content tab-space">
      <div class="tab-pane" id="none">
      </div>

      <div class="tab-pane active" id="video">
        <h4>บันทึกวีดิโอ</h4>
        <video [ngClass]="{'hide-video-player': !showVideoPlayer}" class="video-rec" #recVideo autoplay muted controls></video>
        <div class="rec-actions">
          <div *ngIf="hideStopBtn">
            <button (click)="start()"> เริ่มบันทึกวีดิโอ </button>
            <button *ngIf="showVideoPlayer && recordedBlobs" (click)="play()"> เล่น </button>
            <button *ngIf="recordedBlobs" (click)="download()"> ดาวน์โหลด </button>
          </div>
          <button *ngIf="!hideStopBtn" (click)="stop()"> หยุดบันทึก </button>
        </div>
      </div>

      <div class="tab-pane" id="file">
        <div class="row-select-files">
          <ngfFormData [files]="files" postName="media" [(FormData)]="sendableFormData"></ngfFormData>
          <ngfUploadStatus [(percent)]="progress" [httpEvent]="httpEvent"></ngfUploadStatus>
          <h4>เลือกไฟล์ รูปภาพ/วิดีโอ</h4>
          <div class="my-drop-zone">
            <div ngfDrop multiple="1" selectable="1" [(validDrag)]="validComboDrag" [(files)]="files" accept="image/*, video/*" [maxSize]="maxSize"
              [(lastInvalids)]="lastInvalids" [(dragFiles)]="dragFiles" class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
              [class.valid-drag]="validComboDrag" (filesChange)="lastFileAt=getDate()">
              ขนาดไฟล์ไม่เกิน 100 MB
            </div>
          </div>

          <div *ngIf="dragFiles">
            <h3 style="margin:0">Drag Files</h3>
            <p *ngIf="!dragFiles.length" style="color:red;">
              This browser does NOT release metadata for files being dragged. All files will be considered valid drags until dropped.
            </p>
            <pre>{{ dragFiles | json }}</pre>
          </div>

          <div *ngIf="lastInvalids?.length">
            <div style="color:red;">ไฟล์ที่ขนาดใหญ่เกินไป กรุณาเลือกไฟล์ใหม่
            </div>
          </div>
          <div>มีไฟล์มั้งหมด {{ files.length }} ไฟล์</div>
          <div *ngFor="let item of files;let i=index" style="text-align: right;">
            <div [ngfBackground]="item"></div>
            {{ item.type }} {{ item.size/1024/1024 | number:'.2' }} MB
            <button type="button" class="btn btn-danger btn-xs" (click)="files.splice(i,1)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row-button">
      <i *ngIf="progress==100" class="glyphicon glyphicon-ok"></i>
      <button type="button" class="btn btn-success btn-s" (click)="replyMessage()" (click)="showSwal('success-message')">
        <span class="glyphicon glyphicon-upload"></span> ตอบกลับ
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="cancelBooking()">
        <span class="glyphicon glyphicon-ban-circle"></span> ยกเลิก
      </button>
    </div>
  </div>
</div>