.my-drop-zone { 
  border: dotted 3px lightgray; 
  cursor: pointer;
}

.invalid-drag { border: dotted 3px red; }
.valid-drag { border: dotted 3px green; }
html, body { height: 100%; }
.previewIcon{
  width:100px;height:100px;
   background-size:cover;
  background-repeat:no-repeat;
}
 
.inline-block{
  display:inline-block;
  margin:.2em; 
}


.rec-actions button {
  text-transform: capitalize;
  margin-bottom: 5px;
}

.hide-video-player {
  visibility: hidden;
  height: 0;
  width: 0;
}

button {
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: black;
}

.card-mat-form-field{
  margin: 30px -70px -10px -80px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  border-radius: 25px;
}

element.style {
  background: none;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background-color: white;
}
  
.card .card-body {
  padding: 0px 20px;
  position: relative;
}

h3, .h3 {
  margin: 0px 0 10px;
}

.video-rec {
  width: 100%;
  height: 150px;
  background-color: #333333;
}

.row-video {
  margin-top: -20px;
}

.row-select-files{
  margin-top: 10px;
}

.row-button{
  margin-bottom: 10px;
  text-align: right;
}

.mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
  padding: 10px 12px;
  font-size: 1rem;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
  border-radius: 3px;
  background-color: #999999;
  padding: 12px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}

/* -------footer-------- */


.nav-tabs, .nav-pills {
  padding: 0px;
}

.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
  background-color: #e73673;
  color: #fff;
}

.nav-pills .nav-item .nav-link {
  line-height: 18px;
  font-size: 17px;
}

.mat-button.btn.btn-warning, .mat-raised-button.btn.btn-warning, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-warning, .btn.btn-warning {
  color: #fff;
  background-color: #f44336;
  border-color: #f44336;
}


#mobile-botton{
  display: none;
}

.modal-backdrop.show {
  opacity: 0.26;
  z-index: auto;
}

.row-button-footer{
  display: none;
}

@media  screen and ( max-width:771px) {
  div#mobile-card {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: white;
    color: rgb(107, 102, 102);
    z-index: 310 !important;
    padding: 5px 15px;
    margin-bottom: 0px;
  }

  .card [class*="card-header-"] {
    display: none;
  }

  #mobile-botton{
    display: inline;
  }

  #pc-botton{
    display: none;
  }

  .row-button{
    text-align: right;
  }

  button.mobile-botton.mat-raised-button {
    background: white;
    color: black;
    box-shadow: unset;
    margin-top: -10px;
    bottom: 10px;
    min-width: 10px;
  }

  .col-lg-12 {
    margin-top: 20px;
    margin-bottom: -20px;
    left: -2px;
    position: absolute;
    top: -90px;
  }

  .row-button{
    display: none;
  }

  .row-button-footer{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    float: right;
    padding-right: 5px;
  }

  .menu-footer {
    display: inline;
  }

  .nav-pills{
    display: -webkit-inline-box;
  }

  ul.nav.nav-pills.nav-pills-warning {
    display: inline-flex;
  }

  button.mat-raised-button {
    background-color: white;
    color: black;
    box-shadow: unset;
    padding: 0px;
    margin-top: -20px;
    padding-top: -20px;
    min-width: 50px;
    margin-bottom: -50px;
  }

  .card {
    border-radius: 0px;
    border: solid 1px #d2d2d296;
    border-width: 1px 0px 0px 0px;
  }

  .nav-pills .nav-item i {
    font-size: 25px;
    top: -25px;
    position: absolute;
  }

  .btn{
    padding: 7px 12px;
    font-size: .95rem;
  } 

  .card .card-body{
    padding: 0px 20px;
    position: relative;
    margin-top: 80px;
}

}

  
     