div#navigation {
    position: fixed;
    right: 5px;
}

.navbar-wrapper {
    position: fixed;
    top: 3px;
}

nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute {
    background-color: #eeeeee !important;
    height: 60px;
    position: fixed;
}

.mat-button-toggle {
    right: 30px;
    top: 20px;
    position: fixed;
}