<!-- <audio autoplay *ngIf="haveNoti">
  <source src="../../assets/audio/notice.mp3" type="audio/mpeg">
</audio> -->
<div class="main-content">
  <div class="container-fluid">
    <mat-tab-group *ngIf="!editForm" >
      <mat-tab label="(SMS/APP)/(Live Chat)" >
        <div class="table-default">
        <div *ngIf="!editForm" class="col-lg-7 col-md-12" >
          <div class="card ">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">รับส่งข้อความ (SMS/APP)</h4>
            </div>
            <div class="card-body">
              <div class="card-content">
                <mat-table #table [dataSource]="dataSource" matSort class="animate">

                  <ng-container matColumnDef="Service">
                    <mat-header-cell class="text-header" *matHeaderCellDef>บริการ </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">บริการ:</span>
                      <ng-container *ngIf="job.source == 1">
                        <mat-icon aria-label="Service">textsms</mat-icon>SMS
                      </ng-container>
                      <ng-container *ngIf="job.source == 6 || job.source == 7">
                        <img src="./../../assets/img/icon-app.png" width="33px" height="33px">
                       
                      </ng-container>
                      <ng-container *ngIf="job.source == 8">
                        <img src="./../../assets/img/icon-emerging.png" width="30px" height="30px">
                        
                      </ng-container>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Time">
                    <mat-header-cell class="text-header" *matHeaderCellDef>วันที่เวลาผู้ส่ง</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">วันที่เวลาผู้ส่ง:</span>
                      {{ job.inputtime }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Phonenumber">
                    <mat-header-cell class="text-header" *matHeaderCellDef>หมายเลขโทรศัพท์</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">หมายเลขโทรศัพท์:</span>
                      {{ job.phonenumber }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="UserId">
                    <mat-header-cell class="text-header" *matHeaderCellDef>รหัสบัตรประชาชน</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">รหัสบัตรประชาชน:</span>
                      {{ job['identification_patient'] }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Magane">
                    <mat-header-cell class="text-header" *matHeaderCellDef>การจัดการ</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">การจัดการ:</span>
                      <ng-container *ngIf="job['user_manage'] === ''">
                        <button mat-raised-button class="btn btn-primary" (click)="bookingJob(job)">
                          <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                      </ng-container>
                      <ng-container *ngIf=" job['user_manage'] === displayName">
                        <button mat-raised-button class="btn btn-primary" (click)="bookingJob(jobagian)" id="color-botton-edit">
                          <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                      </ng-container>
                      <ng-container *ngIf=" job['user_manage'] !== displayName">
                           <div id="user_manage">{{ job['user_manage'] }}</div>
                      </ng-container>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!editForm" class="col-lg-5 col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">chat</i>
              </div>
              <h4 class="card-title">สนทนาข้อความ (Live Chat)</h4>
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>

        <!--table mobile-->
        <div class="table-mobile" >
          <div *ngIf="!editForm" class="col-lg-11 ">
            <div class="card ">
              <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">รับส่งข้อความ (SMS/APP)</h4>
              </div>
              <div class="card-body">
                <div class="card-content">
                  <mat-table #table [dataSource]="dataSource" matSort class="animate">

                    <ng-container matColumnDef="Service">
                      <mat-header-cell class="text-header" *matHeaderCellDef>บริการ </mat-header-cell>
                      <mat-cell *matCellDef="let job">
                        <span class="mobile-label">บริการ:</span>
                        <ng-container *ngIf="job.source == 1">
                          <mat-icon aria-label="Service">textsms</mat-icon>SMS
                        </ng-container>
                        <ng-container *ngIf="job.source == 6 || job.source == 7">
                          <img src="./../../assets/img/icon-app.png" width="33px" height="33px">
                          <!-- <mat-icon aria-label="Service">apps</mat-icon>App -->
                        </ng-container>
                        <ng-container *ngIf="job.source == 8">
                          <img src="./../../assets/img/icon-emerging.png" width="30px" height="30px">
                          <!-- <mat-icon color="warn" aria-label="Service">local_hospital</mat-icon>App -->
                        </ng-container>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Time">
                      <mat-header-cell class="text-header" *matHeaderCellDef>วันที่เวลาผู้ส่ง</mat-header-cell>
                      <mat-cell *matCellDef="let job">
                        <span class="mobile-label">วันที่เวลาผู้ส่ง:</span>
                        {{ job.inputtime }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Phonenumber">
                      <mat-header-cell class="text-header" *matHeaderCellDef>หมายเลขโทรศัพท์</mat-header-cell>
                      <mat-cell *matCellDef="let job">
                        <span class="mobile-label">หมายเลขโทรศัพท์:</span>
                        {{ job.phonenumber }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="UserId">
                      <mat-header-cell class="text-header" *matHeaderCellDef>รหัสบัตรประชาชน</mat-header-cell>
                      <mat-cell *matCellDef="let job">
                        <span class="mobile-label">รหัสบัตรประชาชน:</span>
                        {{ job['identification_patient'] }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Magane">
                      <mat-header-cell class="text-header" *matHeaderCellDef>การจัดการ</mat-header-cell>
                      <mat-cell *matCellDef="let job">
                        <span class="mobile-label">การจัดการ:</span>
                        <ng-container *ngIf="job['user_manage'] === ''">
                          <button mat-raised-button class="btn btn-primary" (click)="bookingJob(job)">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                          </button>
                        </ng-container>
                        <ng-container *ngIf=" job['user_manage'] === displayName">
                          <button mat-raised-button class="btn btn-primary" (click)="bookingJob(jobagian)" id="color-botton-edit">
                            <mat-icon aria-label="Edit">edit</mat-icon>
                            <!-- {{ job['user_manage'] }} -->
                          </button>
                        </ng-container>
                        <ng-container *ngIf=" job['user_manage'] !== displayName">
                             <div id="user_manage">{{ job['user_manage'] }}</div>
                        </ng-container>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
          
          <div *ngIf="!editForm" class="col-lg-11 ">
            <div class="card">
              <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="card-title">สนทนาข้อความ (Live Chat)</h4>
              </div>
              <div class="card-body">
              </div>
            </div>
          </div>

        </div>

        
        <!--endtable mobile-->

      </mat-tab>


      <mat-tab label="รับส่งข้อความ (SMS/APP)">
        <!-------mobile รับส่งข้อความ (SMS/APP)--------->
        <div *ngIf="!editForm" class="col-lg-11 " >
          <div class="card ">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">รับส่งข้อความ (SMS/APP)</h4>
            </div>
            <div class="card-body">
              <div class="card-content">
                <mat-table #table [dataSource]="dataSource" matSort class="animate">

                  <ng-container matColumnDef="Service">
                    <mat-header-cell class="text-header" *matHeaderCellDef>บริการ </mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">บริการ:</span>
                      <ng-container *ngIf="job.source == 1">
                        <mat-icon aria-label="Service">textsms</mat-icon>SMS
                      </ng-container>
                      <ng-container *ngIf="job.source == 6 || job.source == 7">
                        <img src="./../../assets/img/icon-app.png" width="33px" height="33px">
                        <!-- <mat-icon aria-label="Service">apps</mat-icon>App -->
                      </ng-container>
                      <ng-container *ngIf="job.source == 8">
                        <img src="./../../assets/img/icon-emerging.png" width="30px" height="30px">
                        <!-- <mat-icon color="warn" aria-label="Service">local_hospital</mat-icon>App -->
                      </ng-container>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Time">
                    <mat-header-cell class="text-header" *matHeaderCellDef>วันที่เวลาผู้ส่ง</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">วันที่เวลาผู้ส่ง:</span>
                      {{ job.inputtime }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Phonenumber">
                    <mat-header-cell class="text-header" *matHeaderCellDef>หมายเลขโทรศัพท์</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">หมายเลขโทรศัพท์:</span>
                      {{ job.phonenumber }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="UserId">
                    <mat-header-cell class="text-header" *matHeaderCellDef>รหัสบัตรประชาชน</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">รหัสบัตรประชาชน:</span>
                      {{ job['identification_patient'] }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Magane">
                    <mat-header-cell class="text-header" *matHeaderCellDef>การจัดการ</mat-header-cell>
                    <mat-cell *matCellDef="let job">
                      <span class="mobile-label">การจัดการ:</span>
                      <ng-container *ngIf="job['user_manage'] === ''">
                        <button mat-raised-button class="btn btn-primary" (click)="bookingJob(job)">
                          <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                      </ng-container>
                      <ng-container *ngIf=" job['user_manage'] === displayName">
                        <button mat-raised-button class="btn btn-primary" (click)="bookingJob(job)" id="color-botton-edit">
                          <mat-icon aria-label="Edit">edit</mat-icon>
                          <!-- {{ job['user_manage'] }} -->
                        </button>
                      </ng-container>
                      <ng-container *ngIf=" job['user_manage'] !== displayName">
                           <div id="user_manage">{{ job['user_manage'] }}</div>
                      </ng-container>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="movetop" id='toTop' (click)="scrollWin()">
          <i class="material-icons">keyboard_arrow_up</i>
        </div> -->
        <!-----end mobile รับส่งข้อความ (SMS/APP)------->
      </mat-tab>
      <mat-tab label="สนทนาข้อความ (Live Chat)">
        <div *ngIf="!editForm" class="col-lg-11 ">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">chat</i>
              </div>
              <h4 class="card-title">สนทนาข้อความ (Live Chat)</h4>
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>

        <!-- <div class="movetop" id='toTop' (click)="scrollWin()">
          <i class="material-icons">keyboard_arrow_up</i>
        </div> -->
      </mat-tab>
    </mat-tab-group>

    <!--Content--->
    <div *ngIf="editForm" class="row example-container">
      <div class="row col-md-12">
        <div class="col-md-7 col7">
          <div class="card" id="card" *ngFor="let timeline of timelineData">
            <div class="card-header card-header-info card-header-icon" *ngIf="timeline['own'] === 'agent'">
              <div class="card-icon-made">
                <i class="material-icons">call_made</i>
              </div>
              <h4 class="card-title">ข้อความของ Agent {{ timeline['adduser'] }}</h4>
            </div>
            <div class="card-header card-header-success card-header-icon" *ngIf="timeline['own'] === 'user' || timeline['own'] === 'selectedData'">
              <div class="card-icon-received">
                <i class="material-icons">call_received</i>
              </div>
              <h4 class="card-title">ข้อความของ {{ timeline['phonenumber'] }}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="inboxForm" novalidate="novalidate">
                <div class="row">

                  <div class="col-sm-8 ">
                    <label>ผู้ใช้ :</label>
                    <div class="show-data ">{{ timeline['identification_patient'] }} ({{ nameUserSelectedRow }}) </div>
                  </div>
                  <div class="col-sm-4">
                    <label>เบอร์ :</label>
                    <div class="show-data"> {{ timeline['phonenumber'] }}</div>
                  </div>


                  <div class="col-sm-8 ">
                    <label>เวลา : </label>
                    <div class="show-data">{{ timeline['inputtime'] }}</div>
                  </div>

                  <div class="col-sm-4 ">
                    <label>พิกัดจาก : </label>
                    <a href="https://maps.google.com/?q= {{ timeline['latitude'] }},{{ timeline['longtitude'] }}&hl=es;z=14&amp;output=embed"
                      target="_blank"><img src="./../../assets/img/icon-map.png" width="30px" height="30px"></a>
                  </div>
                  <div class="col-md-12">
                    <label>ข้อความ : </label>
                    <div class="show-data">{{ timeline['message_orgtext'] }}</div>
                  </div>

                  <div class="col-md-12">
                    <ng-container *ngIf="timeline['question']  !== '' || timeline['question'] !== '0'">
                      <label>อาการป่วย : </label>
                      <ng-container class="form-control-static" *ngFor="let question of timeline['question']">
                        {{ question }},
                      </ng-container>
                    </ng-container>
                  </div>

                  <div class="col-md-12">
                    <label>ภาพ/วีดิโอ : </label>
                    <ng-container *ngFor="let media of timeline['media_path']">
                      <ng-container *ngIf="media['media_type'] === 'image'">
                        <a href="{{ media['media_path'] }}" target="_blank">
                          <img src="{{ media['media_path'] }}">
                        </a>
                      </ng-container>
                      <ng-container *ngIf="media['media_type'] === 'video'">
                        <a href="{{ media['media_path'] }}" target="_blank">
                          <video height="150" width="150" src="{{ media['media_path'] }}"></video>
                        </a>
                      </ng-container>
                    </ng-container>
                  </div>

                  <div class="col-md-12">
                    <div class="row" *ngIf="timeline['own'] === 'selectedData'">
                      <label class="label-text">ถอดความ : </label>

                      <mat-form-field class="example-full-width">
                        <textarea matInput type="text" formControlName="messageTranslate" required="false"></textarea>
                      </mat-form-field>

                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row" *ngIf="timeline['message_translatetext'] !== ''">
                      <label>ถอดความ : </label>
                      <p class="form-control-static">{{ timeline['message_translatetext'] }}</p>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row" *ngIf="timeline['own'] === 'selectedData'">
                      <label>สถานะรับเรื่อง : </label>
                      <mat-form-field>
                        <mat-select placeholder="ระบุสถานะ/ประเภทข้อความ" name="selectedMessageType" formControlName="selectedMessageType">
                          <mat-option *ngFor="let status of jobStatus" [value]="status['id_complete']" (click)="seleteStatus(status['id_complete'])">
                            {{ status['text_complete'] }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div>
                    <div class="row" *ngIf="timeline['own'] === 'user'">
                      <div class="col-sm-12">
                        <label>สถานะรับเรื่อง : </label>
                        <ng-container *ngIf="timeline['complete'] === 1">
                          <p class="form-control-static" class="show-data">สนทนาสำเร็จ</p>
                        </ng-container>
                        <ng-container *ngIf="timeline['complete'] === 0">
                          <p class="form-control-static" class="show-data">สนทนาไม่สำเร็จ</p>
                        </ng-container>
                      </div>
                      <div class="col-sm-12">
                        <label>ประเภทการรับเรื่อง : </label>
                        <p class="form-control-static" class="show-data">{{ messageType[timeline['message_type']] }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row" *ngIf="timeline['own'] === 'selectedData'">
                      <ng-container *ngIf="selectedStatus == 0">
                        <label>ประเภทการรับเรื่อง : </label>
                        <mat-form-field>
                          <mat-select placeholder="ประเภทการสนทนา" name="completeReason" formControlName="completeReason">
                            <mat-option *ngFor="let complete of messageTypeIncomplete" [value]="complete['type_id']">
                              {{ complete['type_text'] }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <ng-container *ngIf="selectedStatus == 1">
                        <label>ประเภทการสนทนา : </label>
                        <div class="form-group">
                          <mat-form-field>
                            <mat-select placeholder="ประเภทการสนทนา" name="completeReason" formControlName="completeReason">
                              <mat-option *ngFor="let complete of messageTypeComplete" [value]="complete['type_id']">
                                {{ complete['type_text'] }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="closeJob(timeline['messageid'])">ยืนยัน</button>
                      </ng-container>
                    </div>
                  </div>
               

                </div>

              </form>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="reply-box">
            <app-reply-box [dataReply]="messageRely" (editFormFormChild)="this.editForm= $event"></app-reply-box>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- [childMessageId]="selectedRow['messageid']" [phonenumber]="selectedRow['phonenumber']"
[identification]="selectedRow['identification_patient']" [agentName]="displayName" -->