.col7{
    padding-left: 0;
}
.col-md-5{
     padding-left: 0;
}


@media  screen and ( min-width:771px) {
    .table-mobile{
        display: none;
    }
}
.mobile-label{
    display: none;
}

.card {
    background: white;
}

.mat-header-cell.text-header {
    font-size: 14px;
    color: black;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
    border-radius: 3px;
    background-color: #999999;
    padding: 12px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}

.button-mobile-edit{
    display: none;
}

#default{
    flex: 2px;
    text-align: center;
    
}

.mat-cell.mat-cell {
    text-align: center;
}

.mat-header-cell.text-header.mat-header-cell {
    text-align: center;
}

.mat-cell, .mat-header-cell {
    flex: 1;
}

.mat-header-row, .mat-row {
    padding: 0px;
}

.mat-tab-body-content {
    height: 100%;
    overflow: auto;
}

.col-lg-11{
    margin-left: auto;
    margin-right: auto;
}

@media  screen and ( max-width:400px) {
    .mobile-label {
        width: 120px;
        font-size: 13px; 
        font-weight: normal; 
    } 
    .mat-cell, .mat-header-cell {
        font-size: 12px;
        display: flex;  
    }
    
    .material-icons {
        font-size: 18px
    }

    .card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
        padding: 5px;
    }
      

}
/* --------------ประวัติ----------------- */

.col-lg-3 {
    flex: 0 0 21%;
    padding: 0px 5px 0px 15px;
    height: 30px;
    margin-top: 10px;
}

div#card{
    margin-bottom: -15px;
}

.card-icon-made {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    padding: 5px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: -10px;
    border-radius: 100%;
    float: left;
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card-icon-received{
    background: linear-gradient(60deg, #66bb6a, #43a047);
    padding: 5px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: -10px;
    border-radius: 100%;
    float: left;
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(76, 175, 80);
}

.form-check, label {
    font-size: 15px;
    line-height: 1.42857;
    color: #8a8888;
    font-weight: 400;
}

.show-data{
    display: inline;
}

.show-data-block{
    display: block;
}

.row {
    padding: 0px 10px 0px 15px;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
     background-color: #F5F5F5;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    margin-top: 5px;
}

.mat-form-field.example-full-width.mat-input-container.mat-form-field.ng-tns-c10-24.mat-primary.mat-form-field-type-mat-input.mat-form-field-can-float.mat-form-field-hide-placeholder {
    margin-top: -20px;
}


.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 1.4rem;
}

div#user_manage {
    color: red;
    font-weight: bold;
}

.mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]), .btn {
    padding: 8px 8px;
}

.main-panel .main-content {
    margin-top: 60px;
}

button#color-botton-edit {
    background-color: gold;
    color: black;
    padding: 8px 8px;
}

.table-default{
    display: flex;
}

.reply-box{
    position: fixed;
    width: 33%;
}

.row.col-md-12 {
    margin-top: -30px;
}

@media  screen and ( max-width:1325px) {
    .table-default {
        display: block;
    }
    .col-lg-5.col-md-12{
        min-width: 100%;
    }
    .col-lg-7.col-md-12{
        min-width: 100%;
    }
}
/* ---foodter---- */
@media  screen and ( max-width:771px) {

    .mobile-label {
        width: 150px;
        display: inline-block;
        font-weight: bold;  
        text-align: left;
    }

    .mat-header-row {
        display: none;
    }

    .mat-row { 
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        min-height: 25px;
    }

    .table-default{
        display: none;
    }

    .mat-cell.mat-cell[_ngcontent-c2] {
        text-align: left;
    }

    .card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
        font-size: 15px;
    }

    .main-content {
        margin-top: 70px;
        padding: 0px;
        min-height: calc(100vh - 123px);
    }
    
    .mat-cell, .mat-header-cell {
        display: flex;
    }

    .btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
        margin-top: -1.1em;
        font-size: 1.4rem;
    }

    .row {
        padding: 0px 0px 0px 15px;
    }
    
    .col-lg-6.col-md-12.ng-star-inserted {
        margin-right: 15px;
    }

    .movetop {
        background-color: #d2d2d2;
        width: 50px;
        padding: 8px;
        border-radius: 3px;
        position: fixed;
        top: 840px;
        right: 20px;
        cursor: pointer;
        text-align: center;
        font-size: 2em;
    }

    .card .card-header {
        z-index: 0 !important;
    }

    
}
